# Задача №1

In [136]:
# Download data file locally 

import os
import urllib.request

DOWNLOAD_ROOT = "https://github.com/DzOlha/Modeling-of-Intelligent-Systems_2024/raw/main/exam/"
URL_expanded = DOWNLOAD_ROOT + "Expanded_data_with_more_features.csv"

# downloads the ds_salaries.csv file

def fetch_data(url, csv_path):
    urllib.request.urlretrieve(url, csv_path)
    
fetch_data(URL_expanded, "Expanded_data_with_more_features.csv")

In [137]:
# Read the data file

import pandas as pd

def read_data(filename):
    data = pd.read_csv(filename)
    return data;

In [138]:
data = read_data('Expanded_data_with_more_features.csv')
data.head()

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

## 1) Скільки студентів і студенток у наборі даних?

In [139]:
female = data[data['Gender'] == 'female'];
male = data[data['Gender'] == 'male'];

female_count = len(female);
male_count = len(male);

print({'Студентів': male_count, 'Студенток': female_count});

{'Студентів': 15217, 'Студенток': 15424}

## 2) Який відсоток студентів чоловічої статі в наборі даних?

In [140]:
rows = data.shape[0];

print({'Відсоток студентів': round(male_count / rows * 100, 2)})

{'Відсоток студентів': 49.66}

## 3) Який відсоток студенток у наборі даних?

In [141]:
print({'Відсоток студенток': round(female_count / rows * 100, 2)})

{'Відсоток студенток': 50.34}

## 4) Яка етнічна група має найвищий середній бал з математики?

In [142]:
def highestScore(subject):
    scores_by_group  = data.groupby('EthnicGroup')[subject].mean()
    highest_score = scores_by_group.max()

    # Знаходимо етнічну групу з найвищим середнім балом
    highest_group = scores_by_group[scores_by_group == highest_score].index.tolist()

    return {'Eтнічна група': highest_group[0], 'Cередній бал':  round(highest_score, 2)}

In [143]:
print(f"Етнічна група з найвищим середнім балом з математики: {highestScore('MathScore')}")

Етнічна група з найвищим середнім балом з математики: {'Eтнічна група': 'group E', 'Cередній бал': 75.3}

## 5) Яка етнічна група має найвищий середній бал читання?

In [144]:
print(f"Етнічна група з найвищим середнім балом з читання: {highestScore('ReadingScore')}")

Етнічна група з найвищим середнім балом з читання: {'Eтнічна група': 'group E', 'Cередній бал': 74.25}

## 6) Яка етнічна група має найвищий середній бал з письма?

In [145]:
print(f"Етнічна група з найвищим середнім балом з письма: {highestScore('WritingScore')}")

Етнічна група з найвищим середнім балом з письма: {'Eтнічна група': 'group E', 'Cередній бал': 72.68}

## 7) Який середній бал з математики для студентів, які закінчили курс підготовки до тесту?

In [146]:
def mean_score_after_prep(subject):
    return data[data['TestPrep'] == 'completed'][subject].mean();

In [147]:
math_prep_score = mean_score_after_prep('MathScore')
print(f"Середній бал з математики після курсу підготовки: {round(math_prep_score, 2)}")

Середній бал з математики після курсу підготовки: 69.55

## 8) Який середній бал з читання для студентів, які пройшли курс підготовки до тесту?

In [148]:
reading_prep_score = mean_score_after_prep('ReadingScore');
print(f"Середній бал з читання після курсу підготовки: {round(reading_prep_score, 2)}")

Середній бал з читання після курсу підготовки: 73.73

## 9) Який середній бал для студентів, які закінчили курс підготовки до тесту?

In [149]:
writing_prep_score = mean_score_after_prep('WritingScore')

In [150]:
print(f"Загальний середній бал за тест після курсу підготовки: {round((math_prep_score + reading_prep_score + writing_prep_score)/3, 2)}")

Загальний середній бал за тест після курсу підготовки: 72.66

## 10) Скільки студентів мають одружених батьків?

In [151]:
def parent_marital_status(status):
    return len(data[data['ParentMaritalStatus'] == status]);

In [152]:
married_parent_count = parent_marital_status('married');
print(f"Кількість студентів, що мають одружених батьків: {married_parent_count}")

Кількість студентів, що мають одружених батьків: 16844

## 11) Скільки студентів мають батьків-одинаків?

In [153]:
single_parent_count = parent_marital_status('single');
print(f"Кількість студентів, що мають батьків-одинаків: {single_parent_count}")

Кількість студентів, що мають батьків-одинаків: 7097

## 12) Чи студенти, які регулярно займаються спортом, мають вищі середні результати з **математики**, ніж ті, хто ніколи не займається спортом?

In [154]:
def avarage_score_by_sport(subject):
    return {
        'Регулярно займаються спортом': round(data[data['PracticeSport'] == 'regularly'][subject].mean(), 2),
        'Ніколи не займаються спортом': round(data[data['PracticeSport'] == 'never'][subject].mean(), 2)
    }

In [155]:
print(f"Середні результати з математики: {avarage_score_by_sport('MathScore')}")

Середні результати з математики: {'Регулярно займаються спортом': 67.84, 'Ніколи не займаються спортом': 64.17}

## 13) Чи студенти, які регулярно займаються спортом, мають вищі середні результати **читання**, ніж ті, хто ніколи не займається спортом?

In [156]:
print(f"Середні результати з читання: {avarage_score_by_sport('ReadingScore')}")

Середні результати з читання: {'Регулярно займаються спортом': 69.94, 'Ніколи не займаються спортом': 68.34}

## 14) Скільки учнів користується шкільним автобусом, щоб дістатися до школи?

In [157]:
def trasport_type_count(type):
    return len(data[data['TransportMeans'] == type]);

In [158]:
print(f"Учні, які користуються шкільним автобусом: {trasport_type_count('school_bus')}")

Учні, які користуються шкільним автобусом: 16145

## 15) Скільки учнів користується приватним транспортом, щоб дістатися до школи?

In [159]:
print(f"Учні, які користуються приватним транспортом: {trasport_type_count('private')}")

Учні, які користуються приватним транспортом: 11362

# Завдання №2
## Передбачте, чи завершив студент курс підготовки до іспиту, на основі його демографічних та академічних даних.
 Вхідні дані: 
 *  Gender
 *  EthnicGroup
 *  ParentEduc
 *  LunchType
 *  ParentMaritalStatus
 *  PracticeSport
 *  IsFirstChild
 *  NrSiblings
 *  TransportMeans
 *  WklyStudyHours
 *  MathScore
 *  ReadingScore
 *  WritingScore

   
  Результат: TestPrep

In [160]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           30641 non-null  int64
 1   Gender               30641 non-null  object
 2   EthnicGroup          28801 non-null  object
 3   ParentEduc           28796 non-null  object
 4   LunchType            30641 non-null  object
 5   TestPrep             28811 non-null  object
 6   ParentMaritalStatus  29451 non-null  object
 7   PracticeSport        30010 non-null  object
 8   IsFirstChild         29737 non-null  object
 9   NrSiblings           29069 non-null  float64
 10  TransportMeans       27507 non-null  object
 11  WklyStudyHours       29686 non-null  object
 12  MathScore            30641 non-null  int64
 13  ReadingScore         30641 non-null  int64
 14  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 3.5+ MB

In [167]:
data['IsTestCompleted'] = data['TestPrep'] == 'completed'

In [168]:
cols = [
    'Gender', 
    'EthnicGroup', 
    'ParentEduc', 
    'LunchType', 
    'ParentMaritalStatus', 
    'PracticeSport', 
    'IsFirstChild', 
    'NrSiblings',       
    'TransportMeans', 
    'WklyStudyHours', 
    'MathScore', 
    'ReadingScore', 
    'WritingScore'
]

In [169]:
data[cols + ['IsTestCompleted']]

,Gender,EthnicGroup,ParentEduc,LunchType,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,IsTestCompleted
0,female,NaN,bachelor's degree,standard,married,regularly,yes,3.0,school_bus,< 5,71,71,74,False
1,female,group C,some college,standard,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88,False
2,female,group B,master's degree,standard,single,sometimes,yes,4.0,school_bus,< 5,87,93,91,False
3,male,group A,associate's degree,free/reduced,married,never,no,1.0,NaN,5 - 10,45,56,42,False
4,male,group C,some college,standard,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,female,group D,high school,standard,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65,False
30637,male,group E,high school,standard,single,regularly,no,1.0,private,5 - 10,58,53,51,False
30638,female,NaN,high school,free/reduced,married,sometimes,no,1.0,private,5 - 10,61,70,67,True
30639,female,group D,associate's degree,standard,married,regularly,no,3.0,school_bus,5 - 10,82,90,93,True
30640,male,group B,some college,standard,married,never,no,1.0,school_bus,5 - 10,64,60,58,False

In [183]:
number_columns = [
    'MathScore', 
    'ReadingScore', 
    'WritingScore'
]
category_columns = [
    'Gender', 
    'EthnicGroup', 
    'ParentEduc', 
    'LunchType', 
    'ParentMaritalStatus', 
    'PracticeSport',
    'IsFirstChild',
    'TransportMeans',
    'WklyStudyHours',
    'NrSiblings'
]

In [184]:
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy="median")),
    ('scaler', StandardScaler()),
])

pipeline = ColumnTransformer([
    ("num", num_pipeline, number_columns),
    ("cat", OneHotEncoder(), category_columns)
])

X = pipeline.fit_transform(data)
Y = data['IsTestCompleted'].values

In [185]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

model = LogisticRegression()
cv = ShuffleSplit(n_splits=12, test_size=0.2, random_state=0)
cross_val_score(LogisticRegression(), X, Y, cv=cv).mean()

0.7516043944090933